<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.ism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".home" />
        <activity android:name=".signup" />
        <activity android:name=".md" />
        <activity android:name=".ecell" />
        <activity android:name=".mi" />
        <activity android:name=".litc" />
        <activity android:name=".litm" />
        <activity android:name=".manthan" />
        <activity android:name=".ffi" />
        <activity android:name=".cyber" />
        <activity android:name=".robo" />
        <activity android:name=".adc" />
        <activity android:name=".foto" />
        <activity android:name=".cs"></activity>
    </application>

</manifest>